{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-es2015-destructuring",
    "transform-es2015-for-of",
    "transform-es2015-modules-commonjs",
    "transform-es2015-parameters",
    "transform-es2015-spread",
    "transform-es2015-arrow-functions",
    "transform-object-rest-spread"
  ]
}
